<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>Logowanie</h1>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Login: <input type="text" name="username"/></label>
        </div>
        <div>
            <label>Hasło: <input type="password" name="password"/></label>
        </div>
        <div><input type="submit" value="Zaloguj"/></div>
    </form>
    <a href="/register">Rejestracja</a>
</body>
</html>
